@model StayGo.Models.Reserva

@{
    ViewData["Title"] = "Cancelar Reserva";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Estás seguro de que quieres cancelar esta reserva?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Propiedad</dt>
        <dd class = "col-sm-10">@Model.Propiedad.Titulo</dd>
        <dt class = "col-sm-2">Cliente</dt>
        <dd class = "col-sm-10">@Model.Usuario.Email</dd>
        <dt class = "col-sm-2">Check-In</dt>
        <dd class = "col-sm-10">@Model.CheckIn.ToString("dd/MM/yyyy")</dd>
        <dt class = "col-sm-2">Check-Out</dt>
        <dd class = "col-sm-10">@Model.CheckOut.ToString("dd/MM/yyyy")</dd>
    </dl>
    
    <form asp-action="Cancel">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirmar Cancelación" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>